body{
	color: #172c6b;
}

.shop{
	background: #add8e6;
	padding: 2rem;
}

.buttons{
	width: 10rem;
}

.your_cart{
	background: yellow;
	padding: 2rem;
}

#cart{
	font-size: 2rem;
    color: white;
	padding: .5rem;
    border-radius: 3rem;
}

#itemRows{
	border: 1px solid #172c6b;
}

#listItems{
	top: 20rem;
	background-color: white;

}

#item_input{
	width: 1rem;
}

.small{
	font-size: .7rem;
}

.cart_input_size{
	width: 3rem;
}

.padding-bottom{
	padding-bottom: 2rem;
}

.padding-bottom-small{
	padding-bottom: .5rem;
}

.black{
	color: black;
}

@media screen and (max-width: 600px){
	body{
		flex-direction: column-reverse;
	}
}